.container{
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    justify-content: center;
    align-items: center;
}

.select{
    width: 150px;
    margin-left: 410px;
    margin-top: 10px;
}