@font-face {
    font-family: 'Nashvile';
    src: url('../../utils/fonts/Nashville-z8w0.ttf') format('truetype');
  }

  @font-face {
    font-family: 'Serial';
    src: url('../../utils/fonts/Serialpublicationdemo-qxo1.ttf') format('truetype');
  }

  @font-face {
    font-family: 'texaswood';
    src: url('../../utils/fonts/texaswood.ttf') format('truetype');
  }

.container{
    box-sizing: border-box;
    border: 2px solid black;
    margin: 450px;
    margin-top: 10px;
    margin-bottom: 0px;
    border-radius: 20px;
    background-color: rgb(240, 248, 255,0.5);
    display: flex;
    align-items: flex-start;
    justify-content: space-between;
}

.titulo{
    font-family: 'texaswood', Courier, monospace;
    letter-spacing: 3px;
    color: rgb(80, 13, 13);
    font-size: 70px;
    padding-left: 60px;
}

.links{
    font-family: 'Nashvile', Courier, monospace;
    letter-spacing: 3px;
    color: rgb(80, 13, 13);
    display: flex;
    gap: 20px;
    margin-left: 25px;
    margin-top: 80px;
    font-size: 20px;
    font-weight: bolder;
}

.link{
    text-decoration: none !important;
    color: inherit;
}

.link,
.link:visited {
  text-decoration: none;
  color: inherit;
}