@font-face {
    font-family: 'Nashvile';
    src: url('../../utils/fonts/Nashville-z8w0.ttf') format('truetype');
  }

  @font-face {
    font-family: 'Dkwildbunch';
    src: url('../../utils/fonts/Gambler-51Kj.ttf') format('truetype');
  }

  @font-face {
    font-family: 'texaswood';
    src: url('../../utils/fonts/texaswood.ttf') format('truetype');
  }

.container{
    background-image: url('../../assets/img/ctp4329_wanted_poster-removebg.png');
    height: 600px;
    width: 450px;
    margin-top: 0px;
    margin-left: 750px;
    background-position: center;
    background-repeat: no-repeat;
    border-radius: 20px;
    position: relative;

    
}

.img{
    border: 2px solid rgba(73, 0, 0);
    border-radius: 150px;
    width: 200px;
    height: 200px;
    position: absolute;
    left: 50%;
    transform: translateX(-50%);
    top: 56%;
}

.name{
    font-family: 'Nashvile', Courier, monospace;
    color: rgb(73, 0, 0);
    font-weight: bolder;
    font-size: 20px;
    display: flex;
    justify-content: center;
    height: 100px;
    width: 300px;
    position: absolute;
    left: 50%;
    transform: translateX(-50%);
    top: 5%;
   
    
}

.info{
    font-family: 'Dkwildbunch', Courier, monospace;
    position: absolute;
    left: 50%;
    transform: translateX(-50%);
    top: 21%;
    width: 300px;
    letter-spacing: 3px;
    font-size: 18px;

}