@font-face {
    font-family: 'Nashvile';
    src: url('../../utils/fonts/Nashville-z8w0.ttf') format('truetype');
  }

  @font-face {
    font-family: 'Serial';
    src: url('../../utils/fonts/Serialpublicationdemo-qxo1.ttf') format('truetype');
  }

  @font-face {
    font-family: 'texaswood';
    src: url('../../utils/fonts/texaswood.ttf') format('truetype');
  }

.card{
    background-image: url('../../assets/img/wanted.png');
    width: 100%;
    background-size: cover;
    position: relative;
    width: 400px;
    height: 510px;
    box-sizing: border-box;
    border: 2px solid black;
    margin-top: 20px;
    left: 270px;
    border-radius: 20px;
    background-color: rgb(240, 248, 255,0.5);
}

.nombre{
    
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
    text-decoration: none !important;
    color: inherit;
    font-size: 20px;
    font-weight: bolder;
    width: 100%;
    color: rgb(73, 0, 0);
    font-family: 'Nashvile', Courier, monospace;
    letter-spacing: 3px;
    position: relative;
    top: 30px;
    left: 10px;
    
    
}
.nombre,
.nombre:visited {
  text-decoration: none !important;
  color: inherit;
}

.specs{
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
    justify-content: space-evenly;
    gap: 30px;
    align-items: center;
    max-width: 100%;
    color: rgb(0, 0, 0);
    font-family:'Nashvile', Courier, monospace;
    position: absolute;
    top: 370px;
    left: 120px;
}

.button{
    position: absolute;
  top: 0;
  left: 0;
    background-color: rgba(0, 0, 0, 0);
    border: none;
    font-family:'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    font-size: xx-large;
    font-weight: 1000;
    color: rgb(0, 0, 0);
}

.cora{
    position: absolute;
    right: 15px;
    top:0px;
    font-size: 40px;
    background-color: rgba(0, 0, 0, 0);
    border: none;
}

.origin{
    color: rgb(0, 0, 0);
    font-family:'Courier New', Courier, monospace;
    font-size: 11px;
    text-align: center;
    position: absolute;
    top: 428px;
    left: 50px;
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
}

.status{
    font-family: 'texaswood', Courier, monospace;
    color: rgb(73, 0, 0);
    font-weight: 900;
    align-items: center;
    font-size: 24px;
    position: absolute;
    top: 420px;
    left: 58px;
}

.img{
    border: 2px solid black;
    border-radius: 150px;
    width: 295;
    height: 295px;
    position: absolute;
    top: 129px;
    right: 47px;
    display: flex;
    justify-content: center;
    align-items: center;

}

.link{
    text-decoration: none !important;
    color: inherit;
}

.link,
.link:visited {
  text-decoration: none;
  color: inherit;
}
